/* Victor Chan 301307184 */
body {
    background-color: #ff0000;
    color: #00ffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

pre {
    white-space: pre-wrap;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffff00;
}

p, blockquote, pre {
    background-color: #550055;
}

/* start navigation */

nav ul {
    list-style-type: none;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: #880088;
    border-radius: 10px;
}

nav ul li {
    float: left;
}

nav ul li a:hover:not(.active) {
    background-color: #997711;
}

nav ul li a.active {
    background-color: #bcce1e;
    color: #000000;
}

nav ul li.right {
    float: right;
}

@media screen and (max-width: 600px){
    nav ul li.right,
    nav ul li {float: none;}
}

/* end navigation */

/* Lab 8 */

img {
    width: 40%;
    height: auto;
    float: left;
}

th, td {
    border: .25em solid #ffee99;
    padding: .5em;
}

<p id="about">

p#about {
    margin-left: 5em;
}

table {
    margin-left: auto;
    margin-right: auto;
}

