/* Victor Chan 301307184 */
body {
    background-color: #00aaaa;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

pre {
    white-space: pre-wrap;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ff0000;
}

p, blockquote, pre {
    background-color: #dddddd;
}

/* start navigation */

nav ul {
    list-style-type: none;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: #000000;
    border-radius: 5px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #ffff00;
    color: #000;
}

nav ul li a.active {
    background-color: #0000ff;
    color: #ffffff;
}

nav ul li.right {
    float: right;
}

@media screen and (max-width: 600px){
    nav ul li.right,
    nav ul li {float: none;}
}

/* end navigation */

/* Lab 8 */

img {
    width: 20%;
    height: auto;
    float: left;
    margin-right: 2em;
}

p#about {margin-left: 5em;}

table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border: .25em dashed #00aaaa;
    padding: .5em;
}